:host {
  margin-top: 1rem;
  display: block;
}

/* :host targets the element itself */

.info-text {
  text-align: center;
}

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
}

mat-paginator {
  margin-top: 1rem;
}
